.smart-contract-parent .gen-smart {
  display: flex;
  flex-direction: column;
  width: 30rem;
  margin: 2rem auto 5rem;
  gap: 1rem;
}
.smart-contract-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.smart-contract-parent .dialogue {
  margin-top: 5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: #aaa;
}

.smart-contract-parent .contract {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  width: fit-content;
  margin: 2rem auto 5rem;
}

.smart-contract-parent .contract input {
  margin: 0.3rem;
}

.smart-contract-parent .contract button {
  border-radius: 0;
}

.smart-contract-parent .contract-interface {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.smart-contract-parent .contract-interface h2 {
  color: #eee;
}

.smart-contract-parent .contract-interface button {
  width: 11rem;
}
