@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@600;700&family=Righteous&display=swap");
.header-parent {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1 {
  color: aquamarine;
  font-family: "Caveat", cursive;
  font-family: "Righteous", cursive;
  font-size: 3rem;
  font-weight: 900;
}

.header-parent h2 {
  color: aquamarine;
}

.header-parent .right {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.header-parent .cur-user {
  display: flex;
  align-items: center;
}

.outline-button {
  background-color: inherit;
  color: aquamarine;
  border: 0.1rem solid aquamarine;
}

.header-parent .cur-user button {
  font-size: 0.9rem;
}
